/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #111;
    padding: 15px 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: #00bcd4;
}


.container {
    width: 90%;
    margin: 40px auto;
}


.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}

.card img {
    border-radius: 8px;
}


button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0097a7;
}


.badge {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.active { background-color: #4CAF50; color: white; }
.verification { background-color: #ff9800; color: white; }
.sold { background-color: #f44336; color: white; }

.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #111, #1e1e1e);
}

.auth-card {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.auth-card h2 {
    margin-bottom: 20px;
    text-align: center;
}

.auth-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.auth-card button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

