/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #111;
    padding: 15px 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: #00bcd4;
}